/* View Transition */
::view-transition-new(animation-theme-toggle) {
  animation: reveal 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  clip-path: inset(0 0 0 0);
  z-index: 99;
}
::view-transition-old(animation-theme-toggle) {
  animation: none;
  z-index: -1;
}
@keyframes reveal {
  from {
    clip-path: inset(var(--from));
  }
}

html.dark {
  --from: 0 0 100% 0;
}
html:not(.dark) {
  --from: 100% 0 0 0;
}

/* Disable animations for special elements during theme switching */
html[data-theme-changing] [data-disable-theme-transition] {
  view-transition-name: none !important;
}

/* Fallback transition for browsers not supporting view-transitions or when reduceMotion enabled */
@supports not (view-transition-name: none) {
  html:not(.reduce-motion) {
    --at-apply: 'transition-colors duration-300 ease-out';
  }
}
html.reduce-motion {
  transition: none;
}

/* GSAP Animation Elements Initial States >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1024px) {
  /* Post Content + Tags + Comments */
  html.js:not(.reduce-motion) #gsap-post-content > *,
  html.js:not(.reduce-motion) #gsap-post-tags,
  html.js:not(.reduce-motion) #giscus,
  html.js:not(.reduce-motion) #waline {
    opacity: 0;
    transform: translateY(3rem);
  }

  /* TOC + Back Button + Post Date */
  html.js:not(.reduce-motion) #toc-desktop-icon {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  html.js:not(.reduce-motion) #toc-links-list > * {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  html.js:not(.reduce-motion) #back-button {
    opacity: 0;
    transform: translateX(0.5rem);
  }
  html.js:not(.reduce-motion) #gsap-post-date {
    opacity: 0;
    transform: translateY(1.5rem);
  }
}

@media (max-width: 1023px) {
  html.js:not(.reduce-motion) #gsap-post-content > :nth-child(-n+7) {
    opacity: 0;
    transform: translateY(3rem);
  }
}

@media (max-width: 1535px) {
  html.js:not(.reduce-motion) #toc-container {
    opacity: 0;
    transform: translateY(3rem);
  }
}
