---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <!-- Decorative Line -->
  <div class="uno-decorative-line"></div>
  <!-- Page Not Found -->
  <h3 class="mt--1.3 flex flex-col text-8 c-primary font-bold leading-1.2em font-navbar lg:text-9">
    <span>PAGE</span>
    <span>NOT</span>
    <span>FOUND</span>
  </h3>
  <p class="mt-3.6 flex flex-col text-3.6 leading-1.4em font-navbar lg:(mt-4 text-4)">
    <span>It looks like the page you're looking for</span>
    <span>does not exist or has been moved.</span>
  </p>
  <!-- Unused Div -->
  <div class=""></div>
</Layout>
