<script src="//cdn.jsdelivr.net/npm/@waline/client"></script>
<div id="waline"></div>
<script>
    Waline({
        el: '#waline',
        visitor: true, // 阅读量统计
        login: 'enable',
        placeholder: '仅填写昵称即可发表回复。\n' +
            '填写邮箱可收到回复提醒。\n' +
            '评论区支持 Markdown 语法及预览。',
        copyright: true, // Waline 版权信息
        dark: "body.dark", // 适配暗黑模式
        highlight: true, // 代码高亮
        requiredMeta: ['nick'],
        uploadImage: false,
        avatar: "monsterid",
        wordLimit: 0, // 评论字数限制，0 为无限制
        serverURL: 'https://blog-comments-mauve.vercel.app',
    });
</script>